@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --primary-color: #389078;
  --secondary-color: #6dadcd;
  --accent1-color: #f9fbfa;
  --accent2-color: #fefefe;

  --heading-font: "Roboto", serif;
  --paragraph-font: "Roboto", serif;

  --nav-background-color: #gold;
  --nav-link-color: #black;
  --nav-hover-link-color: #blue;
  --nav-hover-background-color: #silver;
}

body {
  font-family: var(--paragraph-font);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

h1 {
  color: var(--secondary-color);
  font-size: 5em;
  text-shadow: 0 2px 4px #000000;
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
  display: flex;
}
header nav {
  flex: 1;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 0%;
}
p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

nav a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero {
  min-height: 70vh;
  background-image: url(../images/whitewater-rafting-main.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero article {
  background: hsla(0, 100%, 100%, 0.7);
  backdrop-filter: blur(2px);
  padding: 1em;
  box-shadow: 0 2px 4px #000000;
  border-radius: 5px;
  font-size: 2em;
  display: flex;
  align-items: center;
}
.hero img {
  width: 350px;
  height: auto;
}

section {
}
