@import url('https://fonts.google.com/specimen/Roboto');
:root {
    --primary-color: #389078;
    --secondary-color: #6dadcd;
    --accent1-color: #f9fbfa;
    --accent2-color: #fefefe;

    --heading-font: " ", serif;
    --paragraph-font: " ", serif;

    --nav-background-color: #;
    --nav-link-color: #;
    --nav-hover-link-color: #;
    --nav-hover-background-color: #;
}